body{
    padding: 0px;
    height: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main_div{
    background: linear-gradient(to top, #5433ff, #20bdff, #a5fecb);
    height: 100vh;
    background-position: center;
}

.input_maindiv{
    text-align: center;
   padding-top: 40px;
    padding-bottom: 20px;
}
.textfield_maindiv{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    width: 500px;
    margin: auto;
}
.text_input input{
    color: black !important;
    font-weight: 400;
    text-align: center;
}
.MuiTextField-root{
    border: 1px solid red !important;
}

.addBkm_div{
    margin-top: 20px;
}
.addBkm_div button{
    font-weight: bold;
    
}
#paper{
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    border-radius: 10px;
}
.printed_p{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.data_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.data_p p{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.del_btn{
    text-align: center;
    margin-top: 10px;
}

/* rgb(18, 180, 201) */